@page "/"

<PageTitle>Home</PageTitle>

<p>Currently available mockups:</p>
<ul>
    <li>
        <NavLink href="/Search">Search</NavLink>
    </li>
    <li>
        <NavLink href="/MealPlanner">Mean Planner</NavLink>
    </li>
    <li>
        <NavLink href="/Recipes">Recipe overview</NavLink>
    </li>
    <li>
        <NavLink href="/Recipes/1">Recipe detail</NavLink>
    </li>
</ul>