@page "/"
@using System.Text
@using System.Text.Json
@using Homemade.Grpc
@using Homemade.Grpc.Shared
@inject RecipeSearch.RecipeSearchClient SearchClient

<PageTitle>Home</PageTitle>

<p>Currently available mockups:</p>
<ul>
    <li>
        <NavLink href="/Search">Search</NavLink>
    </li>
    <li>
        <NavLink href="/MealPlanner">Mean Planner</NavLink>
    </li>
    <li>
        <NavLink href="/Recipes">Recipe overview</NavLink>
    </li>
    <li>
        <NavLink href="/Recipes/1">Recipe detail</NavLink>
    </li>
</ul>

<NavLink href="/keycloak">Sign in</NavLink>

<br />

<h2>Search</h2>
<p>Last call: @_lastCall</p>
<InputText @bind-Value="Query" />
<button @onclick="OnClick">call</button>
<p>Reply count: @_response?.Recipes?.Count</p>
<ul>
    @foreach (var reply in _response?.Recipes ?? [])
    {
        <li>
            <pre>@Encoding.UTF8.GetString(JsonSerializer.SerializeToUtf8Bytes(reply, new JsonSerializerOptions { WriteIndented = true }))</pre>
        </li>
    }
</ul>

@if (_exception != null)
{
    <p>@_exception.Message</p>
    <p>@_exception.StackTrace</p>
}

@code {
    private DateTime? _lastCall;
    private Exception? _exception;
    private string Query { get; set; } = string.Empty;
    private RecipeResults? _response;

    public async Task OnClick()
    {
        try
        {
            _exception = null;
            _lastCall = DateTime.Now;
            _response = null;
            StateHasChanged();

            _response = await SearchClient.SearchAsync(new RecipeQuery
            {
                SearchText = Query,
                Pagination = new PaginationRequest
                {
                    PageSize = 10
                }
            });
        }
        catch (Exception exception)
        {
            _exception = exception;
        }
    }

}